---
- name: API Environment Testing Setup
  hosts: localhost
  vars:
    username: marcus-kielman
    repo_name: devops_api
  tasks:
    - name: Install flake8
      become: yes
      apt: 
        pkg:
          - flake8
    - name: Install pip
      become: yes
      apt:
        pkg:
          - python3-pip
    - name: Install Python Dependencies
      shell: |
        pip install docker
        pip install -- update wheel 
        pip install -- update setuptools
        pip install -r jenkins_requirements.txt

      
